<div class="row">
	<div class="col-md-12">
		<a href="{{ route('category-costs.list') }}" class="btn btn-default">
			<span class="glyphicon glyphicon-arrow-left"></span>
		</a>
	</div>
</div>
<br/>
<form action="{{ action }}" method="post">
	<div class="form-group">
		<label class="control-label">Nome</label>
		<input class="form-control" type="text" placeholder="Nome" name="name" value="{{ category.name }}">
	</div>
	<button type="submit" class="btn btn-primary btn-block">
		<span class="glyphicon glyphicon-{{ submitIcon }}"></span>
	</button>
</form>